@import '../variables';

.skillgroup {
    border-radius: 5px;
    width: 99%;
    background: $section-background;
    padding: 3px;
    margin-bottom: 3px;
    color: black;
}

.groupheader {
    font-size: normal;
    font-weight: bolder;
}

.skill {
    margin-top: 2px;
}

.skillname {
    margin-left: 20px;
    font-size: smaller;
}

.skilllevel {
    position: absolute;
    left: 180px;
    font-size: smaller;
    font-style: italic;
}
