@import '../variables';

.section {
    border-radius: 5px;
    width: 99%;
    background: $section-background;
    padding: 5px;
    padding-top: 10px;
    margin-bottom: 3px;
    color: black;
}

.sectionHeader {
    font-size: normal;
    font-weight: bolder;
}

.sectionDescription {
    font-size: smaller;
    margin-left: 20px;
}