.tags {
    font-size: smaller;
    margin-bottom: 5px;
}

.tag {
    border: 2px solid rgba(0, 0, 0, 0);
    font-weight: bolder;
    font-size: small;
    color: white;
    background: linear-gradient(to bottom right, rgb(10, 10, 100), rgb(20, 20, 150), rgb(30, 30, 200), rgb(40, 40, 250));
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    margin-right: 3px;
    cursor: default;
}

.selectable {
    cursor: pointer;    
}

.selected {
    border: 2px solid rgb(250, 200, 0);
    color: rgb(250, 200, 0);
}

.selectable:hover {
    border: 2px solid rgb(250, 200, 0) !important;
    color: rgb(250, 200, 0);
}

.selected:hover {
    border: 2px solid rgba(0, 0, 0, 0) !important;
    color: white;
}

.projects {
    overflow: hidden;
    display: table;
}
