@import '../variables';

.tags {
    font-size: smaller;
    margin-bottom: 5px;
}

.tag {
    border: $tag-border;
    font-weight: bolder;
    font-size: small;
    color: white;
    background: $tag-background;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    margin-right: 3px;
    cursor: default;
}

.selectable {
    cursor: pointer;    
}

.selected {
    border: $pf-selected-border;
    color: $pf-selected-text-color;
}

.selectable:active {
    border: $pf-selectable-pressed-border !important;
    color: $pf-selectable-pressed-text-color;
}

.selected:active {
    border: $pf-selected-pressed-border !important;
    color: $pf-selected-pressed-text-color;
}

.projects {
    overflow: hidden;
    display: table;
}