<div class="project">
    <div class="projectHeader">
        {{project.name}} 
        <span class="created" *ngIf="!!project.created" [class.selectableTitle]="!!project.link">({{project.createdFormatted}})</span>
    </div>
    <div class="projectContent">
        <div class="projectImage" *ngIf="!!project.images && project.images.length > 0" (click)="goToLink()" (mouseover)="displayArrow = true" (mouseleave)="displayArrow = false">
            <img src="assets/img/arrow.png" *ngIf="displayArrow && currentImage > 0" class="leftArrow" (click)="previousImage($event)" [style.display]="displayArrow">
            <img [src]="'assets/img/projects/' + project.images[currentImage]" [class.selectable]="!!project.link">
            <img src="assets/img/arrow.png" *ngIf="displayArrow && project.images.length > 1 && currentImage < project.images.length - 1" class="rightArrow" (click)="nextImage($event)">
        </div>
        <div class="projectDescription" *ngIf="!!project.description">
            <p>{{project.description}}</p>
        </div>
    </div>
    <div class="tags" *ngIf="!!project.tags && project.tags.length > 0">
        <span>Tags: </span>
        <span class="tag" *ngFor="let tag of project.tags">{{tag}}</span>
    </div>
</div>