<div class="project">
    <div class="projectHeader">
        {{project.name}} 
        <span class="created" *ngIf="!!project.created">({{project.createdFormatted}})</span>
    </div>
    <div class="projectImage" *ngIf="!!project.images && project.images.length > 0" (click)="goToLink()">
        <img [src]="'assets/img/projects/' + project.images[0]" [class.selectable]="!!project.link">
    </div>
    <div class="projectDescription" *ngIf="!!project.description">
        <p>{{project.description}}</p>
    </div>
    <div class="tags" *ngIf="!!project.tags && project.tags.length > 0">
        <span>Tags: </span>
        <span class="tag" *ngFor="let tag of project.tags">{{tag}}</span>
    </div>
</div>