@import '../variables';

.project {
    border-radius: 10px;
    background: $project-background;
    max-width: 95%;
    padding: 5px;
    margin-top: 15px;
    @media (min-width: 1800px) {
        display: inline-table;
        width: 49%;
        margin-right: 3px;
    }
    @media (min-width: 2560px) {
        display: inline-table;
        width: 32%;
        margin-right: 3px;
    }
}

.projectContent {
    display: inline-block;
    margin-bottom: 5px;
}

.projectHeader {
    margin-top: 3px;
    margin-bottom: 7px;
    font-size: normal;
    font-weight: bolder;    
}

.created {
    font-size: smaller;
    font-weight: normal;
}

.projectDescription {
    font-size: smaller;
    max-width: 600px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    @media (min-width: 2560px) {
        max-width: 500px;
    }
}

.projectImage {
    display: inline-block;
}

.projectImage img {
    max-height: 200px;
    border: $project-image-border;
    border-radius: 5px;
    max-width: 95%;
}

.leftArrow,
.rightArrow {
    position: absolute;
    z-index: 1;
    width: 30px;
    margin-top: 50px;
    cursor: pointer;
}

.leftArrow:hover,
.rightArrow:hover {
    background: rgba(255, 255, 255, 0.2);
}

.rightArrow {
    margin-left: -45px;      
}

.leftArrow {
    margin-left: 15px;
    transform: rotate(180deg);
}

.selectableTitle {
    cursor: pointer;
}
