.project {
    border-radius: 5px;
    border: 2px ridge blue;
    max-width: 80%;
    padding: 5px;
    margin-top: 15px;
}

.projectHeader {
    margin-top: 3px;
    margin-bottom: 7px;
    font-size: normal;
    font-weight: bolder;
}

.created {
    font-size: smaller;
    font-weight: normal;
}

.projectDescription {
    font-size: smaller;
    width: 600px;
    margin-left: 5px;
}

.projectImage img {
    max-height: 200px;
    border: 2px solid white;
    border-radius: 5px;
}
