@import 'variables';

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

a.active {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: $menu-background;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: $menu-hover;
    color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $submenu-background;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: $submenu-hover-background;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    position: absolute;
    top: 10px;
    right: 35px;
}

.logo img {
    height: 42px;
    @media (max-width: 600px) {
        display: none;
    }
}

h3,
h1 {
  color: $header-color;
}
